@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 273, 20%, 89%;
    --foreground: 240, 6%, 3%;

    --card: 273, 20%, 89%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 246, 27%, 52%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 247, 21%, 33%;
    --primary-foreground: 210 40% 98%;

    --secondary: 247, 40%, 74%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 247, 40%, 74%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

section {
  min-height: 100vh;
  min-height: 100dvh;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply h-full scroll-smooth;
  }
  .hidden {
    top: -50px;
  }

  .display-none {
    @apply hidden;
  }
}
